.myToggleButton {
    border-width: 2px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    padding: 2px;
}

.myToggleButton:hover {
    background-color: transparent;
    color: #6c757d;
    border-width: 2px;
}

.myToggleButton:focus,
.myToggleButton:active:focus
.myToggleButton.active:focus
.myToggleButton.focus,
.myToggleButton:active.focus
.myToggleButton.active.focus
{
    outline: none;
    box-shadow: none;

}