.twocolumn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.recent {
    display: flex;
    flex-direction: column;
}

.tranButton {
    width: 150px;
    height: 80px;
    background-color: transparent;
    color: #6c757d;
    border-width: 1px;
    border-radius: 0px;
}

.startList {
    height: 250px;
    width: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}