.myTitle {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.titleBar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background-color: #495A80;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.titleBaT-enter {
    background-color: rgb(145, 157, 179);
}

.titleBaT-enter-active {
    background-color: #495A80;
    transition: background-color 300ms;
}

.titleBaT-enter-done {
    background-color: #495A80;
}

.titleBaT-exit {
    background-color: #495A80;
}

.titleBaT-exit-active {
    background-color: rgb(145, 157, 179);
    transition: background-color 300ms;
}

.titleBaT-exit-done {
    background-color: rgb(145, 157, 179);
}

.pjTitle {
    margin-top: 8px;
    color: white;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.navMenu a {
    margin-left: 10px;
    color: white;
}

.titleName {
    font-size: 19px;
    color: white;
    margin-left: 10px;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.clickTitle {
    -webkit-app-region: no-drag;
    margin: 0px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    z-index: 3000;
    height: 100%;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    white-space: normal;
    line-height: 30px;
}

.codicon {
    font: normal normal normal 16px/1 codicon;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.codicon-chrome-maximize::before {
    content: "\eab9";
}

.codicon-chrome-maximize {
    color: white;
}

.window-icon {
    display: inline-block;
    line-height: 30px;
    height: 100%;
    width: 46px;
    font-size: 16px;
}

@font-face {
    font-family: 'codicon';
    src: url('./Resource/codicon.ttf');
}

.btn-min {
    color: white;
    border-radius: 0px;
    height: 30px;
    width: 46px;
    font: normal normal normal 16px/1 codicon;
    text-shadow: none;
    box-shadow: none;
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.btn-min:hover {
    background-color: #3B4968;
    color: white;
}

.btn-min:active {
    background-color: #2C364C;
    color: white;
}

.btn-max {
    color: #fff;
    border-radius: 0px;
    height: 30px;
    width: 46px;
    box-shadow: none;
    border-color: transparent;
    outline-width: 0;
    outline-color: transparent;
    font: normal normal normal 16px/1 codicon;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-shadow: none;
    cursor: default;
}

.btn-max:hover {
    background-color: #3B4968;
    outline: none;
    box-shadow: none;
    color: white;
}

.btn-max:active {
    background-color: #2C364C;
    color: white;
}

.btn-max:focus,
.btn-max:active:focus,
.btn-min:focus,
.btn-min:active:focus,
.btn-close:focus,
.btn-close:active:focus
{
    outline: none;
    box-shadow: none;
}

.btn-close {
    color: white;
    border-radius: 0px;
    height: 30px;
    width: 46px;
    box-shadow: none;
    border-color: transparent;
    outline-width: 0;
    outline-color: transparent;
    font-size: 16px;
    font: normal normal normal 16px/1 codicon;
    text-decoration: none;
    text-rendering: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-shadow: none;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
}

.btn-close:hover {
    background-color: red;
    color: white;
}

.systemIcon {
    -webkit-font-smoothing: antialiased;
    /* -webkit-text-stroke-width: 0; */
}

.systemIcon2 {
    -webkit-font-smoothing: antialiased;
    /* -webkit-text-stroke-width: 0; */
    /* font-family: 'Segoe MDL2 Assets'; */
    font-size: 16px;
}

.modal-content {
    border-radius: 0px;
}

.dropdown-item-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 16rem;
}

.play-button-enter {

}

.play-button-enter-active {

}

.play-button-exit {

}

.play-button-exit-active {

}

.setting-dropdown-enter {
    opacity: 0;
    transform: translate3d(-180px, 26px, 0px);
    /* transform: scale(0.9); */
}

.setting-dropdown-enter-active {
    opacity: 1;
    transform: translate3d(-180px, 34px, 0px);
    /* transform: translateX(0); */
    transition: opacity 300ms, transform 300ms;
}

.setting-dropdown-exit {
    opacity: 1;
    transform: translate3d(-180px, 34px, 0px);
}

.setting-dropdown-exit-active {
    opacity: 0;
    transform: translate3d(-180px, 30px, 0px);
    /* transform: scale(0.9); */
    transition: opacity 300ms, transform 300ms;
}

.new-pj-modal-enter {
    opacity: 0;
    transform: scale(0.9);
}

.new-pj-modal-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}

.new-pj-modal-exit {
    opacity: 1;
}

.new-pj-modal-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
