.myTitle {
    -webkit-app-region: drag;
    height: 80px;
    background-color: #495A80;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.titleName {
    font-size: 20px;
    color: white;
    margin: 30px;
}

.clickTitle {
    -webkit-app-region: no-drag;
    margin: 30px;
}